<form  action="/account/register" method="POST"   >
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="username">username</label>
      <input type="text" class="form-control" name="username" id="username" placeholder="username">
    </div>
    <div class="form-group col-md-6">
      <label for="email">Email</label>
      <input type="email" class="form-control"name="email" id="email" placeholder="email">
    </div>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" name="password" id="password" placeholder="password">
  </div>
  <div class="form-group">
    <label for="comfirm">retype password</label>
    <input type="password" class="form-control" name="retypepassword" id="password" placeholder="retype password">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="phone_number">PHone number</label>
      <input type="text" name="phone_number" class="form-control" id="phone_number">
    </div>

  </div>
  <button type="submit" class="btn btn-primary">Sign in</button>
</form>