   <div class="row">
       <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="tile">
            <h3 class="tile-title mt-5">REGISTER FORM </h3>
            {{#if message}}
                 <div class="alert alert-dismissible alert-danger">
                <button class="close" type="button" data-dismiss="alert">×</button><strong>sorry!!</strong><a class="alert-link" href="#"></a> {{message}}
              </div>
            {{/if}}
            <div class="tile-body">
              <form  action="/account/register"  method="POST"  >
                <div class="form-group">
                  <label class="control-label">Name</label>
                  <input class="form-control" name="name" type="text" placeholder="Enter full name">
                </div>
                <div class="form-group">
                  <label class="control-label">house number </label>
                  <input class="form-control" type="text" name="house" placeholder="Enter meter number here">
                </div>
                 <div class="form-group">
                  <label class="control-label"> meter number  </label>
                  <input class="form-control" name="meter_number" type="text" placeholder="Enter email meter_number">
                </div>
                 <div class="form-group">
                  <label class="control-label">password</label>
                  <input class="form-control" type="password" name="password1" placeholder="Enter your password">
                </div>
                <div class="form-group">
                  <label class="control-label">password</label>
                  <input class="form-control" type="password" name="password2" placeholder="comfirm password">
                </div>
                <div class="tile-footer">
              <button class="btn btn-primary" type="submit"><i class="fa fa-fw fa-lg fa-check-circle"></i>Register</button>&nbsp;&nbsp;&nbsp;<a class="btn btn-secondary" href="#"><i class="fa fa-fw fa-lg fa-times-circle"></i>Cancel</a>
            </div>
               
              </form>
            </div>
            
          </div>
        </div>
        <div class="col-md-3"></div>
        </div>
        